<div ng-controller="AddController as ac">
    <form ng-submit= "ac.addListing(ac.listingToAdd)">
        Cost<input type="number" ng-model="ac.listingToAdd.cost" placeholder="e.g. 500000">
        Square Footage<input type="number" ng-model="ac.listingToAdd.sqft" placeholder="e.g. 1500">
        City<input type="text" ng-model="ac.listingToAdd.city" placeholder="e.g. Minneapolis">
        <select ng-model="ac.listingToAdd.type">
            <option value="rent">Available Rental</option>
            <option value="sale">For Sale</option>
        </select>
        <select ng-model="ac.listingToAdd.image_path">
            <option value="classic-flats.jpg">Classic Flats</option>
            <option value="haunted.png">Haunted</option>
            <option value="older.jpg">Charmer</option>
            <option value="rental.jpg">Gentrification!</option>
            <option value="rental2.jpg">Basic</option>
            <option value="shiny.jpg">Sleek</option>
            <option value="stony.jpg">Stone Mansion</option>
        </select>
        <input type="submit">
    </form>

</div>