<div ng-controller="AvailableController as avc">
  <h1>Listings Display</h1>
  <table class="table">
    <thead id="listings">
      <tr>
        <th>Price</th>
        <th>Square Footage</th>
        <th>City</th>
        <th>Image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="listing in avc.listingList ">
        <td>{{listing.cost}}</td>
        <td>{{listing.sqft}}</td>
        <td>{{listing.city}}</td>
        <td><img ng-src="images/{{listing.image_path}}" alt="image of property"></td>
        <td><button ng-click= "avc.deleteListing(listing)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>